# PostgreSQL
DB_NAME=mqarchive
DB_USERNAME=mqarchive
DB_PASSWORD=mqarchive
DB_PORT=5432

# IBM MQ
MQ_QUEUE_MANAGER=QM1
MQ_CHANNEL=DEV.APP.SVRCONN
MQ_USER=app
MQ_PASSWORD=passw0rd
MQ_QUEUE_NAME=DEV.QUEUE.1
MQ_DLQ_NAME=DEV.QUEUE.2
MQ_CONCURRENCY=3-10
MQ_PORT=1414
MQ_CONSOLE_PORT=9443
